#container {
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    height: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#header  a:hover {
    opacity: 0.7;
}

.item {
    background: #ddd;
    width: 100%;
    display: block; /* as opposed to inline-block which leaves a small vertical gap*/
}


.item * {
    /* to make images&videos the full width of the containing <a>*/
    width: 100%;
    display: block; /* as opposed to inline-block which leaves a small vertical gap*/
}

#header {
    height: 2em;
    background-color: #eee;
    font-size: 1.5em;
    padding: 8px;
}

.placeHolder {
}

.column {
    float: left;
    width: 50%;
}


#header {
}

.topButton {
    float: right;
    margin: 4px;
}

#footer {
    clear: both;
    background-color: #ccf;
    padding: 2em;
}

.topRightHover {
    position: fixed;
    top: 3em;
    right: 1em;
    z-index: 999; /* when auto-scrolling the button was unpressable at times because the href link was overriding */
}