#container {
    margin: auto;
}

.item {
    background: #ddd;
    width: 100%;
    display: block; /* as opposed to inline-block which leaves a small vertical gap*/
}

#header {
    height: 2em;
    background-color: #eee;
    font-size: 1.5em;
    padding: 8px;
}

.placeHolder {
}

.column {
    float: left;
    width: 50%;
}